body{
    background-color:#222222;
    
}
.heading{
    color:whitesmoke;
    background-color: #020202;
    font-size:5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 8vw;
    padding: 0vw 2vw;
    font-weight: bold;

}


.cross{
    height: 12vw;
    cursor: pointer;
    border-radius: 100%;
    position: absolute;
    right: 10vw ;
    top: 12vw;
    box-shadow: 1px 1px 1px 1px;
    
}
.cross:hover{
    box-shadow: 0px 0px;
    
}

.fas{
    color:white;
}
.fa-arrow-left{
    position:absolute;
    top: 14vw;
    left: 10vw;
}


.button:hover{
    border: solid dodgerblue;
    border-width: 1vw;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.button{
    background-color: #777777;
    position: absolute;
    height:18vw;
    width:20vw;
    font-size: 4vw;
    border-radius: 20%;
    border-width: 1vw;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}


.select{
    top:56vw;
    left:40vw;
    color:white;
    font-weight: bold;
}

.left{
    top:56vw;
    left:18vw;
}

.right{
    top:56vw;
    left:62vw;
}

.above{
    top:36vw;
    left:40vw;
}
 
.below{
    top:76vw;
    left:40vw;
}

.mute{
    top:100vw;
    left:40vw;
}
.step-backward{
    top:100vw;
    left:18vw;
}
.step-forward{
    top:100vw;
    left:62vw;
}
.search{
    top: 120vw;
    left:18vw;
}
.expand{
    top: 120vw;
    left:62vw;
}

@media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }
    .heading{
        background-color:#DDDDDD;
        color: #020202;
    }
    .fas{
        color:#020202;
    }
    .select{
        color: #020202;
    }
    .button{
        background-color: #AAAAAA;
        color:black
    }
  }



  .theme-switch {
    top: 1vw;
    right: 10vw;
    height: 6.5vw;
    position: absolute;
    width: 12vw;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #AAAAAA;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.8vw;
    content: "";
    height: 5.2vw;
    left: 0.8vw;
    position: absolute;
    transition: .4s;
    width: 5.2vw;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(5.2vw);
  }
  
  .slider.round {
    border-radius: 6.8vw;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }