<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <!-- can remove above two lines -->
</head>
<body>
  <form action="/mainpage" method="POST">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
  </form>
  <!-- extensionSocketID  = //--REQUIRED--// to be submitted via a form -->
</body>
</html>